@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow">
				<div class="card-body text-center">
					<img src="~/img/carol.png" />
					<p class="card-text">Estudante da escola SESI, onde participo do curso de DS: Desenvolvimento de Sistema .</p>
					<div>
						<a href="https://github.com/carolbcx" target="_blank" class="btn btn-outline-dark me-2">
							<i class="bi bi-github"></i> GitHub
						</a>
						<a href="https://www.instagram.com/carolinebcx_" target="_blank" class="btn btn-outline-primary">
							<i class="bi bi-Instagram"><i class="bi bi-instagram"></i></i> Instagram

						</a>




					</div>
				</div>
			</div>
		</div>
	</div>
</div>
